body {
    background-color: rgb(72,59,58);
}

#canvasContainer {
    margin: 0 auto;
    width:400px;
}

#creditsContainer {
    margin: 150px auto;
    width:400px;
    height:150px;
}

#linkflex {
    display:flex;
    margin-left:10px;
    width:350px;
}

a {
    font-size:24px;
    color:black;
    font-family: 'Fondamento', cursive;
    font-weight:bold;
    margin: 0 25px;
    text-decoration: none;
    transition: all 0.8s;
    transform-origin:65% 50%;
}


a#game:hover {
    color:white;
}

a#music:hover {
    color:white;
    transform:rotate(12deg);
}

a#art:hover {
    color:white;
    transform:rotate(-12deg);
}



#myCanvas {
    width:400px;
    height:400px;
    margin: 65px 160px 65px auto ;
}
