body {
    background-color: rgb(72,59,58);
}

:root {
    --main-color:rgb(170, 141, 122);
}

.main-font {
    font-family: 'Fondamento', cursive;
    font-weight:bold;
    text-align: center;
    color:var(--main-color);
    text-shadow: 2px 2px 5px black;
}

.container {
    margin: 0 auto;
    max-width:1200px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.credits-container {
    margin: 0 auto;
    width:400px;
    height:150px;
}

.level-menu-container {
    margin: 0 auto;
    width:400px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.links-flex {
    display:flex;
    width:350px;
}

.canvas-inner{
    margin: 25px 100px;
    width:400px;
    height:400px;
    position: relative;
}
.fancy-border {
    border: 25px solid var(--main-color);
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23aa8d7a' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}
.canvas-menu {
    width:375px; 
    height:375px; 
    position:absolute; 
    top:-12px;
    left:-12px;
    background-color: rgb(72,59,58);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.8s;
}

.canvas-menu p {
    font-size: 24px;
}

#start-button {
    width: 175px;
    height: 50px;
    background-color:transparent;
    border-color: var(--main-color);
    border-radius: 4px;
    cursor:pointer;
    font-size:2ch;
    transition: all 0.5s;
}

.level-button {
    margin-left:10px;
    width:10px;
    height:15px;
    border:none;
    background-color: var(--main-color);
    cursor: pointer;
}

.fake-level-button {
    width:15px;
    height:15px;
    background-color: rgb(105, 97, 91);
    margin-left:10px;
}

.side-menu {
    width: 250px;
    height: 400px;
    background-color: rgb(72,59,58);
}

img {
    user-select:none;
    pointer-events:none;
}

h1 {
    margin-top:30px;
    margin-bottom:0;
    font-size:80px;
    color:var(--main-color);
    font-family: 'Fondamento', cursive;
    font-weight:bold;
    text-align: center;
    transition: all 0.2s;
    user-select:none;
    text-shadow: 3px 3px 10px black;
}

hr {
    color:var(--main-color);
    border-color:var(--main-color);
}

h3, p {
    font-family: 'Fondamento', cursive;
    font-weight:bold;
    text-align: center;
    color:var(--main-color);
    text-shadow: 2px 2px 5px black;
}

b {
    color: rgb(211, 189, 116);
}

a.credits-link {
    font-size:24px;
    color:black;
    font-family: 'Fondamento', cursive;
    font-weight:bold;
    margin: 0 25px;
    text-decoration: none;
    transition: all 0.8s;
    transform-origin:65% 50%;
    text-align: center;
}

h1:hover {
    color:rgb(130.0, 101, 82);
}


a#game:hover {
    color:var(--main-color);
}

a#music:hover {
    color:var(--main-color);
    transform:rotate(12deg);
}

a#art:hover {
    color:var(--main-color);
    transform:rotate(-12deg);
}

.canvas-menu-animated {
    transform: scale(0.0) rotate(360deg);
}

#start-button:hover {
    width:180px;
    height:55px;
    background-color:rgb(68, 55, 55);
}

.item-icon {
    margin: 0 43%;
}

#volume {
    margin: 30px auto;
    display:block;
    width:150px;
    background-color: transparent;
}

#volume::-moz-range-track {
    background: var(--main-color);
    border: 0.2px solid #010101;
  border-radius: 1.3px;
}