body {
    background-color: rgb(72,59,58);
}

#canvasContainer {
    margin: 0 auto;
    width:400px;
}

#creditsContainer {
    margin: 0 auto;
    width:400px;
    height:150px;
}

#linkflex {
    display:flex;
    margin-left:10px;
    width:350px;
}

a {
    font-size:24px;
    color:black;
    font-family: 'Fondamento', cursive;
    font-weight:bold;
    margin: 0 25px;
    text-decoration: none;
    transition: all 0.8s;
    transform-origin:65% 50%;
    text-shadow: 2px 1px 2px rgb(170.0, 141, 122);
}


a#game:hover {
    color:white;
}

a#music:hover {
    color:white;
    transform:rotate(12deg);
}

a#art:hover {
    color:white;
    transform:rotate(-12deg);
}

#myCanvas {
    width:400px;
    height:400px;
    margin: 65px 160px 65px auto ;
}

img {
    user-select:none;
    pointer-events:none;
}

h1 {
    margin-top:50px;
    margin-bottom:0;
    font-size:80px;
    color:rgb(170.0, 141, 122);
    font-family: 'Fondamento', cursive;
    font-weight:bold;
    text-align: center;
    transition: all 0.2s;
    user-select:none;
    text-shadow: 3px 3px 10px black;
}

h1:hover {
    color:rgb(130.0, 101, 82);
}
